link(rel='import', href='../bower_components/polymer/polymer.html')

link(rel='import', href='p-app/p-app.html')
link(rel='import', href='services/p-services/p-services.html')
link(rel='import', href='pages/p-pages/p-pages.html')
// slush:elements