//- script(src='/bower_components/somecomponent/component.js')
//- link(rel='/bower_components/somecomponent/component.html')

dom-module(id='p-services')

  template
    style
      include /elements/services/p-services/styles/p-services.css
  
    p This is polymer element 'p-services'
  
  script(src='scripts/p-services.js')
