//- script(src='/bower_components/somecomponent/component.js')
//- link(rel='/bower_components/somecomponent/component.html')


dom-module(id='p-page-landing')

  template
    style
      include /elements/pages/p-page-landing/styles/p-page-landing.css
  
    p This is polymer element 'p-page-landing'

    p Welcome to the <%= appName %>

    img(src='/images/u9_fwa_app_ad.png')

    div.github

  script(src='scripts/p-page-landing.js')
