html
  head
    title GAE Secure Scaffold Python (UNIT9)

    link(rel='stylesheet' type='text/css' href='/styles/main.css')

  body
    p Welcome to the GAE Secure Scaffold Python (UNIT9)

    script(src='scripts/main.js')