html
  head
    title <%= appName %>

    link(rel='stylesheet' type='text/css' href='/styles/main.css')

  body
    p Welcome to the <%= appName %>

    img(src='/images/u9_fwa_app_ad.png')

    div.github

    script(src='/scripts/main.js')