html
  head
    title <%= appName %>

    link(rel='stylesheet' type='text/css' href='/styles/main.css')

    script(src='/scripts/behaviors/page-behavior.js')

    link(rel='import' href='/elements/elements.html')

  body
    p-app

    script(src='/scripts/main.js')